<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= dog.breed %></title>
</head>
<body>
    <h1><%= dog.breed %></h1>
    <p>Size: <%= dog.size %></p>
    <p>Lifespan: <%= dog.lifespan_years %> years</p>
    <p>Temprament: <%= dog.temprament %></p>
    <p>Origin: <%= dog.origin %></p>
    <p>Average Weight: <%= dog.averageWeight_Kg %>Kg</p>
     <br>
    <hr>
    <br>
    <a href="/">Go Home</a>
</body>
</html>