<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= dog.breed %></title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>
<body>
    <%- include('../partials/_nav') %>
    <div>
        <h1><%= dog.breed %></h1>
        <p>Size: <%= dog.size %></p>
        <p>Lifespan: <%= dog.lifespan_years %> years</p>
        <p>Temprament: <%= dog.temprament %></p>
        <p>Origin: <%= dog.origin %></p>
        <p>Average Weight: <%= dog.averageWeight_Kg %>Kg</p>
        <% if (dog.breeder && dog.breeder.username) { %>
            <p>Breeeder: <%= dog.breeder.username %></p>
        <% } %>
        <br>
        <hr>
        <br>
        <!-- REVIEWS SECTION -->
        <h2>Reviews</h2>
        <!-- DISPLAY REVIEWS -->
         <% const reviews = dog.reviews %>
             <% reviews.forEach(review => { %>
                 <p>
                    <strong>
                        <%= review.user.username %>
                    </strong>
                    <small>
                        <%= new Date(review.createdAt).toDateString() %>
                    </small>
                    <%= review.text %>
                </p>

                <% if (review.user._id === user._id) { %>
                    <form action="/dogs/<%= dog._id%>/reviews/<%= review._id %>?_method=DELETE" method="post">
                        <button type="submit">Delete</button>
                    </form>
                <% } %>
             <% }) %>
            <br>
        <!-- CREATE REVIEW -->
        <% if (user) { %>
            <form action="/dogs/<%= dog._id %>/reviews" method="POST">
              <label for="text">Text:</label>
              <input type="text" name="text" id="text">
              <button type="submit">Add Review</button>
            </form>
          <% } else { %>
            <p><a class="link" href="/auth/sign-in">Sign in</a> to leave a Review</p>
          <% } %>


        <br>
        <a href="/">Go Home</a>
        <% if (user && dog.breeder && dog.breeder._id.equals(user._id)) { %>
         
            <form action="/dogs/<%= dog._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete Breed</button>
            </form>
            <a href="/dogs/<%= dog._id%>/edit">Edit Breed</a>
        <% } %>
    </div>
</body>
</html>